<section>
  <h2>{{ title }}</h2>
  <hr/>
  <span>{{ stitle }}</span>
  <div>
    <ng-container *ngIf="isLoggedIn">
      <p>Você está logado</p>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
      <p>Você não está logado</p>
    </ng-container>
  </div>
  <hr/>

  <div>
    <span>{{ list }}</span>
    <ul>
      @for (ingredient of ingredientList; track ingredient.nome) {
        <li>{{ ingredient.quantidade }}: {{ ingredient.nome }}</li>
      }
    </ul>
  </div>

  <div>
    <!-- Aplica Classes de CSS  já criadas diretamente na tag -->
    <div [ngClass]="{'ativo': isAtivo, 'inativo': !isAtivo}">
      <ul>
        @for (produto of produtos; track produto.nome) {
          <li>{{ produto.nome }}: {{ produto.preco }} e está: {{ produto.oferta }}</li>
        }
      </ul>

    </div>
  </div>
</section>
