<section>
  <nav>
    <ul>
      <li>
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      </li>
      <li>
        <a routerLink="cats" routerLinkActive="active" ariaCurrentWhenActive="page">Os Gatos</a>
      </li>
      <li>
        <a routerLink="dogs" routerLinkActive="active" ariaCurrentWhenActive="page">Os cachorros</a>
      </li>
      <li>
        <a routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page">Sobre nós</a>
      </li>
      <li>
        <a routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page">Entre em contatos</a>
      </li>
    </ul>
  </nav>
</section>
